/*!
 * Based on design by Alvin Wan (alvinwan.com) for CS294-112 at UC Berkeley
 */

* {
  font-family: 'Roboto', sans-serif;
}

.main-container {
  text-align: center;
}

.main {
  max-width: 60em;
  width: 80%;
  text-align: left;
  display: inline-block;
}

header {
  padding: 2em 0;
}
header .header-title {
  margin: 0px;
  padding: 0px;
}
header .header-title a {
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-size: 0.9em;
  font-weight: 400;
}
header nav {
  float: right;
}
header nav ul {
  float: right;
  padding: 0.5em 0;
}
header nav ul li {
  float: left;
  list-style: none;
}
header nav ul li a {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  color: #000;
  letter-spacing: 0.05em;
  font-weight: 300;
  cursor: pointer;
}
header nav ul li a:hover {
  text-decoration: none;
  border-bottom: 1px dotted #000;
  color: #000;
}
header nav ul li {
  margin-left: 1em;
}

header img.header-icon {
  height: 1.5em;
}

footer.footer {
  padding: 3em 0 5em 0;
}

footer.footer .half-row {
  width: 40%;
  display: inline-block;
  margin: 0px;
  position: relative;
}

footer.footer .half-row.l {
  float: left;
}

footer.footer .half-row.r {
  float: right;
  text-align: right;
}

.page-head {
  margin: 2em 0 2em 0;
}
.page-head p {
  margin-bottom: 5px;
}
.page-head .head-subtitle {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  font-weight: 400;
}
.page-head .head-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 3em;
  padding: 0;
  margin: 0.25em 0;
}

.text {
  margin: 0;
  font-weight: 300;
}

.text .title {
  padding-top: 0.5em;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  margin: 0 0 0.25em 0;
  width: 100%;
}
.text .head-subtitle {
  font-family: 'Roboto', sans-serif;
  /*font-size: 1.1em;*/
  font-weight: 400;
  margin: 0 0 0.1em 0;
}
.text h3 {
  font-size: 1.5em;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
.text p,
.text li {
  line-height: 150%;
}

.text .announcement + ul li {
  margin-bottom: 0.5em;
}

table.note-table {
  margin: auto;
}

table.note-table th,
.note-table td {
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}

.announcement {
  color: #e53935;
}

ul.lists {
  padding: 0;
  overflow: hidden;
}
ul.lists li {
  color: #000;
  padding: 0.2em 0;
  font-size: 1.1em;
  list-style: none;
  margin: 0;
}
p.link a,
ul.lists li a {
  color: inherit;
  border-bottom: 1px dotted #000;
}
p.link a:hover,
ul.lists li a:hover {
  text-decoration: none;
  border-bottom: 1px solid #000;
}
p.link a:inactive,
ul.lists li.inactive {
  color: #ccc;
}

.table .sec {
  background-color: #f1f1ff;
}

.table .hw {
  background-color: #fff1f1;
}

.table .exam {
  background-color: #ddccff;
}

.table th {
  font-size: 1em;
  font-weight: 400;
}

.table td {
  font-size: 0.75em;
  font-weight: 300;
}

body {
  font-size: 1.5em;
}

#images {
  text-align: center;
  margin: 50px auto;
}
#images a {
  margin: 0px 20px;
  display: inline-block;
  text-decoration: none;
  color: black;
}

.dropdown-toggle::after {
  display: inline-block;
  margin-left: 0em;
  vertical-align: 0.255em;
  content: '';
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

@media (min-width: 979px) {
  li.dropdown:hover > ul.dropdown-menu {
    display: block;
  }
}

.dropdown-menu {
  margin: 0;
}
