<footer id="footer" class="main-container footer text">
  <div class="main">
      <hr>
        <div class="half-row l">
          <div>
            Copyright &copy; <script>document.write(new Date().getFullYear())</script> Harvard CS181
          </div>
        </div>
        <div class="half-row r">
            <div>Icons made by <a href="https://www.flaticon.com/authors/those-icons" title="Those Icons">Those Icons</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a></div>
        </div> 
  </div>
</footer>
