<header id="header" class="main-container">
  <div class="main">
      <h1 class="header-title col-md-2">
          <a href="{{ site.baseurl }}/">CS 181</a>
      </h1>

      <nav class="col-md-10">
      <ul>
        <li class="dropdown">
          <a class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            General
          </a>
          <ul class="dropdown-menu" type="button" aria-labelledby="dropdownMenuButton">
            <li><a class="dropdown-item" href="{{ site.baseurl }}/syllabus">Syllabus</a></li><br>
            <li><a class="dropdown-item" href="{{ site.baseurl }}/calendar">Calendar</a></li><br>
            <li><a class="dropdown-item" href="{{ site.baseurl }}/staff">Staff</a></li><br>
            <li><a class="dropdown-item" href="{{ site.baseurl }}/officehours">Office Hours</a></li><br>
            <li><a class="dropdown-item" href="{{ site.baseurl }}/resources">Resources</a></li><br>
          </ul>
        </li>
        <li><a href="{{ site.baseurl }}/schedule">Schedule</a></li>
        <li><a href="{{ site.baseurl }}/cube"><img class="header-icon" src="{{ site.baseurl }}/css/cube2.png"></a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Lecture Recaps
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" type="button">
            <!-- <li><a class="dropdown-item" href="{{ site.baseurl }}/recap1">Lecture 1 (Nonparametric Regression)</a></li>
            <li><a class="dropdown-item" href="{{ site.baseurl }}/recap2">Lecture 2 (Linear Regression)</a></li>
            <li><a class="dropdown-item" href="{{ site.baseurl }}/recap3">Lecture 3 (Probabilistic Linear Regression)</a></li>
            <li><a class="dropdown-item" href="{{ site.baseurl }}/recap4">Lecture 4 (Linear Classification)</a></li>
            <li><a class="dropdown-item" href="{{ site.baseurl }}/recap5">Lecture 5 (Probabilistic Classification)</a></li>
            <li><a class="dropdown-item" href="{{ site.baseurl }}/recap6">Lecture 6 (Model Specification)</a></li>
            <li><a class="dropdown-item" href="{{ site.baseurl }}/recap7">Lecture 7 (Bayesian Model Specification)</a></li>
            <li><a class="dropdown-item" href="{{ site.baseurl }}/recap8">Lecture 8 (Neural Networks I)</a></li>
            <li><a class="dropdown-item" href="{{ site.baseurl }}/recap9">Lecture 9 (Neural Networks II)</a></li>
            <li><a class="dropdown-item" href="{{ site.baseurl }}/recap10">Lecture 10 (Support Vector Machines I)</a></li>
            <li><a class="dropdown-item" href="{{ site.baseurl }}/recap11">Lecture 11 (Support Vector Machines II)</a></li>
            <li><a class="dropdown-item" href="{{ site.baseurl }}/recap12">Lecture 12 (EthiCS)</a></li>
            <li><a class="dropdown-item" href="{{ site.baseurl }}/recap13">Lecture 13 (Clustering)</a></li>
            <li><a class="dropdown-item" href="{{ site.baseurl }}/recap14">Lecture 14 (Mixture Models)</a></li>
            <li><a class="dropdown-item" href="{{ site.baseurl }}/recap15">Lecture 15 (PCA)</a></li>
            <li><a class="dropdown-item" href="{{ site.baseurl }}/recap16">Lecture 16 (Topic Models)</a></li>
            <li><a class="dropdown-item" href="{{ site.baseurl }}/recap17">Lecture 17 (Graphical Models)</a></li>
            <li><a class="dropdown-item" href="{{ site.baseurl }}/recap18">Lecture 18 (Inference in Bayes Nets)</a></li>
            <li><a class="dropdown-item" href="{{ site.baseurl }}/recap19">Lecture 19 (Hidden Markov Models)</a></li>
            <li><a class="dropdown-item" href="{{ site.baseurl }}/recap20">Lecture 20 (Markov Decision Processes)</a></li>
            <li><a class="dropdown-item" href="{{ site.baseurl }}/recap21">Lecture 21 (Reinforcement Learning I)</a></li>
            <li><a class="dropdown-item" href="{{ site.baseurl }}/recap22">Lecture 22 (Reinforcement Learning II)</a></li> -->
          </ul>
        </li>
        <li><a href="{{ site.baseurl }}/sections">Sections</a></li>
        <li><a href="{{ site.baseurl }}/homework">HW</a></li>
      </ul>
      </nav>
  </div>
</header>
