<header id="header" class="main-container">
  <div class="main">
    <h1 class="header-title col-md-2">
      <a href="{{ site.baseurl }}/">CS 181</a>
    </h1>

    <nav class="col-md-10">
      <ul>
        <li><a href="{{ site.baseurl }}/syllabus">Syllabus</a></li>
        <li><a href="{{ site.baseurl }}/staff">Staff</a></li>
        <li><a href="{{ site.baseurl }}/resources">Resources</a></li>
        <li><a href="{{ site.baseurl }}/schedule">Schedule</a></li>
        <li><a href="{{ site.baseurl }}/sections">Sections</a></li>
        <li><a href="https://github.com/harvard-ml-courses/cs181-s24-homeworks" target="_blank" rel="noopener noreferrer">HW</a></li>
      </ul>
    </nav>
  </div>
</header>
