<!doctype html>
<html>

  {% include head.html %}

    <body>

        {% include header.html %}

        <div id="main-container">

	    <p>
                <strong>Note:</strong>
		This website is for a past offering of CS 1810.
                To see the current course website,
                <a href="https://harvard-ml-courses.github.io/cs181-web/">click here</a>.
            </p>

            {{ content }}
        </div>

        {% include footer.html %}

        {% include scripts.html %}

    </body>
</html>
