<!doctype html>
<html>

  {% include head.html %}

    <body>

        {% include header.html %}

        <div id="main-container">

	    <p style="
                margin-top: 20px;
		margin-bottom: 20px;
		padding: 10px 14px;
		background: #fff8dc;
		border-left: 4px solid #e0c97f;
		font-size: 14px;
            ">
                <strong>Note:</strong>
		This website is for a past offering of CS 1810.
                To see the current course website,
                <a href="https://harvard-ml-courses.github.io/cs181-web/">click here</a>.
                </a>.
            </p>

            {{ content }}
        </div>

        {% include footer.html %}

        {% include scripts.html %}

    </body>
</html>
